{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="center aligned fluid ui container">
    <div class="ui labeled icon left floated inverted vertical menu" style="margin-right: 40px ; margin-left: -25px; border: thin solid #EFC008; background: black " >

        <div class="item" id="dmt">
            <i class="large bars icon"></i>
        </div>

    </div>
    <div class="center aligned sixteen wide column" id="v_menu">
                <div class="ui hidden divider"></div>
                <span style="border: 1px solid #EFefef;padding: 20px 5px" id="headmenu">
                    <a class="active item" style="color: #EFC008;text-decoration: none; margin: 0 30px" href="{% url 'the_blog:index' %}" id="headmenu">
                      HOME
                    </a>
                </span>
                <span>
                    <a class="item" style="color: black; text-decoration: none; margin: 0 35px" href="{% url 'the_menu:menu' %}" id="headmenu">
                      MENU
                    </a>
                </span>
                <a href="{% url 'the_blog:index' %}" style="text-decoration: none">
                    <img src="{% static "/media/landing/circle-cropped.png" %}"
                                 alt="My image" style="max-height: 150px; max-width: 150px ; margin: 0px 40px 10px ; border:0">
                </a>
                <span>
                    <a class="item" style="color: black; text-decoration: none; margin: 0 35px" href="{% url 'the_blog:blog' %}" id="headmenu">
                      BLOG
                    </a>
                </span>
                <span>
                    <a class="item" style="color: black; text-decoration: none; margin: 0 35px" href="{% url 'the_blog:about' %}" id="headmenu">
                      ABOUT
                    </a>
                </span>
    </div>
    </div>
    <div class="ui hidden divider"></div>
    <div>
        <div class="ui sidebar vertical menu" style="text-decoration: none">
            <div class="ui hidden divider"></div>
            <div class="ui hidden divider"></div>
            <div class="ui hidden divider"></div>
            <div class="ui hidden divider"></div>
            <a style="color: #EFC008; margin:0px 110px 0px 60px; border: 1px solid #EFC008;padding:20px" href="{% url 'the_blog:index' %}">
               HOME
            </a>
            <div class="ui hidden divider"></div>
            <div class="ui hidden divider"></div>
            <div class="ui hidden divider"></div>


            <a style="color:black;text-decoration:none; padding:40px 20px; margin:0 110px 0 60px" href="{% url 'the_menu:menu' %}" >
               MENU
            </a>
            <div class="ui hidden divider"></div>
            <div class="ui hidden divider"></div>

            <a style="color:black;text-decoration:none; padding:20px; margin:0px 110px 0px 60px" href="{% url 'the_blog:blog' %}">
               BLOG
            </a>
            <div class="ui hidden divider"></div>
            <div class="ui hidden divider"></div>

            <a style="color:black;text-decoration:none; padding:20px; margin:0 110px 0 60px" href="{% url 'the_blog:about' %}">
               ABOUT
            </a>
            <div class="ui hidden divider"></div>
            <div class="ui hidden divider"></div>

            <a style="color:black;text-decoration:none; padding:20px; margin:0 110px 0 60px">
               GALLERY
            </a>
            <div class="ui hidden divider"></div>

        </div>
    <div class="pusher">
    <div class="ui center aligned fluid container" style="margin-top:0; background: url(../../static/media/landing/header.jpeg) no-repeat center;" >

        <div class="ui center aligned grid" >

            <div class="four wide column" id="h_menu">
                <img src="{% static "/media/landing/circle-cropped.png" %}" alt="My image" style="max-height: 150px; max-width: 150px">
            </div>
              <div class="eight wide center aligned column" style="margin-top: 40px">

                  <div class="ui five item fluid menu" style="background-color: inherit" id="h_menu">
                    <a class="active item" style="color: #EFC008;" href="{% url 'the_blog:index' %}" id="head2">
                      HOME
                    </a>
                    <a class="item" style="color: white; " href="{% url 'the_menu:menu' %}" id="head2">
                      MENU
                    </a>
                    <a class="item" style="color: white; " href="{% url 'the_blog:blog' %}" id="head2">
                      BLOG
                    </a>
                    <a class="item" style="color: white; " id="head2">
                      GALLERY
                    </a>
                    <a class="item" style="color: white;" id="head2">
                      ABOUT
                    </a>
                  </div>
              </div>

        <div class="four wide column"></div>

        <div class="sixteen wide center aligned column" style="margin-bottom: 40px;" id="mail_p">
            <div style="background-color: black;opacity: 0.6;padding: 50px; margin: 0px;border-radius: 3px;">
                <p style="color: white" id="mailing">
                    Join our mailing list to get the latest offers and posts
                </p>
                <div class="ui fluid center aligned action input" style="min-width: 200px;">
                    <input placeholder="Enter your Email here..." style="min-width: 120px;" type="email" id="recipient_email" name="recipient_email_address" required>
                    <button class="ui inverted big basic olive button" type="submit" data-modal-target="empty" name="email" style="background: #EFC008;" id="dmt">
                        <a style="color: white; min-width: 40px;" id="desc">SUBSCRIBE</a>
                    </button>
                </div>
            </div>
        </div>

        </div>
    </div>
    </div>
    </div>
    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>

    <div class="ui center aligned fluid container" style="margin:auto; padding: 15px 3.5%" >
        <div class="ui center aligned grid" style="background-color: black; padding: 12px 10px">
            <div class="sixteen wide center aligned column" >

                <p style="color: #EFC008;" id="head1">
                    <span style="border-bottom: 2px solid #EFC008;padding-bottom: 12px" >
                        <span>TODAY'S SPECIALS</span>
                    </span>
                </p>

            </div>

            <div class="ui hidden divider"></div>

            <div class="ui hidden divider"></div>

                <div class="ui stackable row">

                    <div class="five wide fluid stackable column">

                            <p style="color: white;" id="head3">
                                SNACKS & PAIRINGS
                            </p>

                            <p style="color: white" id="head4">
                                Buttered Naan
                            </p>
                            <p style="color: white" id="head4">
                                Masala Fries
                            </p>


                    </div>

                    <div class="five wide fluid column">

                            <p style="color: white" id="head3">
                                BURGERS
                            </p>
                            <p style="color: white" id="head4">
                                Cheesy Supreme
                            </p>
                            <p style="color: white" id="head4">
                                Masala Fries
                            </p>

                    </div>

                    <div class="five wide fluid column">

                        <p style="color: white" id="head3">
                            COMBOS
                        </p>



                        <p style="color: white" id="head4">
                            Mama's special
                        </p>


                    </div>

                </div>

            <div class="ui hidden divider"></div>
             <div class="ui hidden divider"></div>

                <div class="ui stackable row" >

                    <div class="five wide fluid column">
                        <p style="color: white" id="head3">
                                WRAPS & PANINIS
                        </p>
                        <p style="color: white" id="head4">
                                Chicken Shawarma
                        </p>
                        <p style="color: white" id="head4">
                                Breakfast Panini
                        </p>

                    </div>
                </div>



            <div class="ui hidden divider"></div>
            <div class="ui hidden divider"></div>
            <div class="sixteen wide center aligned column" >
                <p style="color: #efefef" id="desc">
                    We deliver in Nairobi
                </p>
            </div>

            </div>

        </div>

    </div>
    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>
    <div class="ui center aligned container" style="margin:auto">
        <div class="ui center aligned stackable grid" >
                <div class="four wide column" style="padding:15% 0px">
                    <p style="color: #EFC008;" id="base2">
                    MAMA'S PLATE
                    </p>
                    <p style="color: black" id="head2">
                    Ole-Sangale Link Rd, Nairobi
                    </p>
                </div>
                <div class="four wide column" style="padding:12% 0px">
                    <p style="color: black" id="desc">
                    Phone:
                    </p>
                    <p style="color: black" id="head2">
                    	<a href="tel:+254-743-676-796" style="text-decoration:none">0743 676796</a>
                    </p>
                    <p style="color: black" id="desc">
                    Email:
                    </p>
                    <p style="color: black" id="head2">
                    	<a href = "mailto: mamasplate1@gmail.com" target="_blank" style="text-decoration:none; color:black">mamasplate1@gmail.com</a>
                    </p>
                </div>
                <div class="eight wide column">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.776663073947!2d36.80927001444972!3d-1.3092812360202326!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f11588d2c0c2d%3A0x7914a0406530bfda!2sMama&#39;s%20Plate!5e0!3m2!1sen!2ske!4v1591220907724!5m2!1sen!2ske" width="500" height="440" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" id="images"></iframe>
                </div>
        </div>
    </div>

    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>


    <div class="ui center aligned fluid container" style="margin:0; padding: 0;" >
        <div class="ui three column stackable center aligned grid" style="margin:5px; padding: 0 10px">

          <div class="column" style="margin:0;">
            <div class="ui fluid card" style="object-fit: scale-down">

                <img src="{% static "/media/gallery/one.jpeg" %}" style="max-height: 310px;" >


            </div>
          </div>

          <div class="column" style="margin:0;padding: 4px">
            <div class="ui fluid card" style="object-fit: scale-down">

                <img src="{% static "/media/gallery/two.jpeg" %}" style="max-height: 330px">


            </div>
          </div>

          <div class="column" style="margin:0;">
            <div class="ui fluid card" style="object-fit: scale-down">

                <img src="{% static "/media/gallery/three.jpeg" %}" style="max-height: 310px;">


            </div>
          </div>

        </div>
    </div>



    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>
    <div class="ui center aligned fluid container" style="margin:auto; padding: 0 3%" >
        <div class="ui center aligned grid" style="background-color: black; ">
            <div class="sixteen wide center aligned column" style="margin-bottom:-2px" >
                <p style="color: #EFC008;" id="base2">
                    MAMA'S PLATE
                </p>
            </div>
            <div class="sixteen wide center aligned column" style="margin-top:-3px">
                <span id="bottom_socials">
                      <a href="https://wa.me/254743676796" target="_blank"><button class="ui black circular whatsapp icon button" style="margin: 0 10px">
                          <i class="green whatsapp icon"></i>
                      </button></a>
                      <a href="https://www.instagram.com/mamas.plate/" target="_blank"><button class="ui black circular instagram icon button" style="margin: 0 10px">
                          <i class="pink instagram icon"></i>
                      </button></a>
                      <a href = "mailto: mamasplate1@gmail.com" target="_blank"><button class="ui black circular mail icon button" style="margin: 0 10px">
                          <i class="white mail icon"></i>
                      </button></a>
                  </span>
            </div>
            <div class="sixteen wide center aligned column" >
                <p style="color: white" style="border-bottom:6px solid white" id="desc">
                    Ole-Sangale Link Rd, Nairobi | <a href="tel:+254-743-676-796" style="text-decoration:none; color:black;">Tel: 0743 676796</a>
                </p>
            </div>

        </div>
    </div>
    <div class="ui hidden divider"></div>
    <style type="text/css">
        body {

              background-repeat: repeat;
              background-size: cover;
              background-position: center;


            }
        .ui.icon.vertical.menu{
                display: none;
            }

        #mail_p{
            padding:0 350px;
        }
        #h_menu {
            display: none;
        }
        #v_menu {
            display: initial;
        }

        #title{
           font-family: 'Cabin Sketch', cursive;
           font-size:45px;
           letter-spacing: 3px;
           font-weight:bold;
        }
        #head1{
            font-family: 'Cabin Sketch', cursive;
            font-size:26px;
            letter-spacing: 2.5px;

        }
        #head2{
            font-family: 'Josefin Sans', sans-serif;
            font-size: 16px;
            font-weight: 500;
        }
        #headmenu{
            font-family: 'Josefin Sans', sans-serif;
            font-size: 16px;
            font-weight: 500;
        }
        #head3 {
            font-family: 'Josefin Sans', sans-serif;
            font-size: 20px;
            font-weight: 500;
        }

        #base2{
            font-family: 'Josefin Sans', sans-serif;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 3px;
        }

        #desc{
            font-family: 'Josefin Sans', sans-serif;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 1px;
        }
        #mailing{
            font-family: 'Josefin Sans', sans-serif;
            font-size: 19px;
            font-weight: 500;
            letter-spacing: 1px;
        }
        #head4{
            font-family: 'Cabin Sketch', cursive;
            font-size: 20px;

        }
        #menu_item {
            font-size: 14px;
            letter-spacing: 2px;
            }

        #menu {
            margin-left: initial;
            }
        @media only screen and (max-width: 1200px) {

            #mail_p{
                padding:0;
            }

            #images{
               width: 355px !important;

            }
            #headmenu{
                display: none;
            }

            #h_menu{
                display: none;
            }
            #v_menu{
                display: initial;
            }
            .ui.icon.vertical.menu{
              display: block;
             position: fixed;  /* Set the navbar to fixed position */
              top: 20.5%; /* Position the navbar at the top of the page */
              z-index: 1;
            }

            #menu{
                margin-left: 0;
            }
            #length{
                width:initial;
            }
            #price{
                margin: auto;
            }
            #dish{
                margin: auto;
                padding: 0;
            }
            #description{
                margin: auto;
                padding: 0;
            }


        }

    </style>
{% block scripts %}
    <script type="text/javascript">
        $('#dmt').on('click', function () {
            $('.ui.sidebar').sidebar('toggle');
    });
    </script>
    <script type="application/ld+json">{
    "@context": "https://schema.org",
    "@type": "Organization",
    "name": "Mama's Plate",
    "hasMap": "https://goo.gl/maps/ET2A2pnwtSmHYhRn6"
    }
    </script>
{% endblock scripts %}
{%  endblock content %}