{% extends "base.html" %}
{% load static %}
{% block content %}
    
    {% if user.is_authenticated %}
    <div class="ui hidden divider"></div>
    <div class="right aligned container">
        <button class="ui right floated secondary button" style="text-decoration:none">
         <a href="{% url 'the_blog:logout' %}" style="text-decoration:none; color:white">Logout</a>
        </button>
    </div>
    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>
    {% endif %}
    <div class="center aligned fluid ui container">
    <div class="ui labeled icon left floated inverted vertical menu" style="margin-right: 40px ; margin-left: -25px; border: thin solid #EFC008; background: black " >

        <div class="item" id="dmt">
            <i class="large bars icon"></i>
        </div>

    </div>
    <div class="center aligned sixteen wide column" id="v_menu">
                <div class="ui hidden divider"></div>
                <span style="border: 1px solid #EFefef;padding: 20px 5px" id="headmenu">
                    <a class="active item" style="color: #EFC008;text-decoration: none; margin: 0 30px" href="{% url 'the_blog:index' %}" id="headmenu">
                      HOME
                    </a>
                </span>
	        <span>
                    <a class="item" style="color: black; text-decoration: none; margin: 0 35px" href="{% url 'the_blog:blog' %}" id="headmenu">
                      BLOG
                    </a>
                </span>
                
                <a href="{% url 'the_blog:index' %}" style="text-decoration: none">
                    <img src="{% static "media/landing/circle-cropped.png" %}"
                                 alt="My image" style="max-height: 150px; max-width: 150px ; margin: 0px 40px 10px ; border:0">
                </a>
                <span>
                    <a class="item" style="color: black; text-decoration: none; margin: 0 35px" href="{% url 'the_menu:menu' %}" id="headmenu">
                      GALLERY
                    </a>
                </span>
                <span>
                    <a class="item" style="color: black; text-decoration: none; margin: 0 35px" href="{% url 'the_blog:about' %}" id="headmenu">
                      ABOUT
                    </a>
                </span>
    </div>
    </div>
    {% if user.is_authenticated %}
                    <a class="ui centered olive card" href="{% url 'the_blog:create' %}" style="background-color: black; margin-top: 50px">
                      <div class="content">
                          <div class="center aligned header">

                          </div>
                        <div class="center aligned description" style="padding: 10px">
                          <h3 style="color: white; font-size: 18px" id="base2">Click me to ADD a NEW POST</h3>
                        </div>
                      </div>
                      <div class="extra content">
                        <div class="center aligned author">
                            <i class="yellow large plus icon"></i>
                            <i class="black large pencil alternate icon"></i>
                        </div>
                      </div>
                      </a>
                    </div>
                    <div class="ui hidden divider"></div>
                    <div class="ui hidden divider"></div>

     {% endif %}
    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>
    <div>
        <div class="ui sidebar vertical menu" style="text-decoration: none">
            <div class="ui hidden divider"></div>
            <div class="ui hidden divider"></div>
            <div class="ui hidden divider"></div>
            <div class="ui hidden divider"></div>
            <a style="color: #EFC008; margin:0px 110px 0px 60px;padding:20px" href="{% url 'the_blog:index' %}">
               HOME
            </a>
            <div class="ui hidden divider"></div>
            <div class="ui hidden divider"></div>

   	    <a style="color:black;text-decoration:none; padding:20px; margin:0px 110px 0px 60px" href="{% url 'the_blog:blog' %}">
               BLOG
            </a>
            
            <div class="ui hidden divider"></div>
            <div class="ui hidden divider"></div>

            <a style="color:black;text-decoration:none; padding:20px 20px; margin:0 110px 0 60px" href="{% url 'the_menu:menu' %}" >
               GALLERY
            </a>
            <div class="ui hidden divider"></div>
            <div class="ui hidden divider"></div>

            <a style="color:black;text-decoration:none; padding:20px; margin:0 110px 0 60px" href="{% url 'the_blog:about' %}">
               ABOUT
            </a>
            <div class="ui hidden divider"></div>
            <div class="ui hidden divider"></div>

           
            <div class="ui hidden divider"></div>

        </div>
    <div class="pusher">
    <div class="ui center aligned fluid container" style="margin-top:0;
     background: url(../../static/media/landing/header.jpeg) no-repeat fixed center;background-size: cover;" >

        <div class="ui center aligned fluid grid" >

            <div class="four wide column" id="h_menu">
                <img src="{% static "media/landing/circle-cropped.png" %}" alt="My image" style="max-height: 150px; max-width: 150px;">
            </div>
              <div class="eight wide center aligned column" style="margin-top: 40px">

                  <div class="ui five item fluid menu" style="background-color: inherit" id="h_menu">
                    <a class="active item" style="color: #EFC008;" href="{% url 'the_blog:index' %}" id="head2">
                      HOME
                    </a>
                    <a class="item" style="color: white; " href="{% url 'the_menu:menu' %}" id="head2">
                      MENU
                    </a>
                    <a class="item" style="color: white; " href="{% url 'the_blog:blog' %}" id="head2">
                      BLOG
                    </a>
                   
                    <a class="item" style="color: white;" id="head2">
                      ABOUT
                    </a>
                  </div>
              </div>

        <div class="four wide  column"></div>

        <div class="sixteen wide center aligned fluid column" style="margin:0 0 40px 0;" id="mail_p">
            <div style="background-color: black;opacity: 0.6;padding: 40px; margin: 0;border-radius: 3px;">
                <p style="color: white" id="mailing">
                    Join our mailing list to get the latest offers and posts
                </p>
                <form method="post" action="{% url 'the_blog:index' %}" name="subscribeForm" id="subForm">
                        {% csrf_token %}
                    <div class="ui fluid center aligned action input" style="min-width: 220px;">
                        <input placeholder="Enter your Email here..." style="min-width: 140px;" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" type="email" id="recipient_email" name="recipient_email_address" required>
                        <button class="ui inverted big basic olive button" type="submit" data-modal-target="empty" name="email" style="background: #EFC008;" id="dmt">
                            <a style="color: white; min-width: 20px;" id="desc">SUBSCRIBE</a>
                        </button>
                    </div>
                </form>>
            </div>
        </div>

        </div>
    </div>
    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>

    <div class="ui center aligned fluid container" style="padding:30px; margin-bottom:40px;">


	<div class="ui center aligned three column stackable grid" style="padding:0px;">




	    <div class="row" style="color:silver; font-weight: bold; letter-spacing: 2px" id="head2">RECENT POSTS</div>
	
         
	    <div class="row" style="margin: auto; padding: 20px">
	    {% for post in posts %}
	    <a href="{% url 'the_blog:post' post.slug %}" style="text-decoration:none; color:black">
	    <div class="center aligned column" style="padding:0 40px">
		
			<img src={{ MEDIA_URL }}{{post.header_image.url}} id="images" alt="My image" style="height: 300px;
                 	width: 380px;padding-left: -50px;">
				
				<div class="ui items" style="margin: auto">
  					<div class="item">
						
    						<div class="content">
      							<a class="header" style="color: #EFC008;" id="base2"href="{% url 'the_blog:post' post.slug %}" style="text-decoration:none; color:black">{{ post.title|upper }}</a>
      							<div class="description" id="desc">
							<a href="{% url 'the_blog:post' post.slug %}" style="text-decoration:none; color:black">
        						<p>{{ post.content|striptags|safe|truncatewords:30}}</p>
							</a>
      							</div>
      							<div class="extra">
							<div style="color: #C0C0C0; margin:20px 0; letter-spacing:2px">{{ post.date_added|date:"d/m/Y" }}</div>
        						<i class="yellow comment outline icon" ></i>
                                    			{% with total=post.comments.count %}
                                        			{{ total }} Comment{{ total|pluralize }}
                                    			{% endwith %}
        						
							
      						</div>
						
    						</div>
  					</div>
					
				</div>
				
			

	    </div>
            </a>
            {% endfor %}
	    
	    </div>
	</div>

    <div class="ui center aligned container" style="margin-top:40px">
        <a style="text-decoration: none;" href="{% url 'the_blog:blog' %}">
                <button class="ui black basic button" style="padding: 18px; margin-top:40px;">
                    <span id="head3" style="font-size:16px">MORE POSTS</span>
                </button>
        </a>
    </div>

	<div class="ui hidden divider"></div>
    </div>

    </div>
    </div>

    <div class="ui center aligned fluid container" style="margin-top:0;
     background: url(../../static/media/landing/ab2.jpeg) no-repeat fixed center;background-size: cover;padding: 10px 0 0 0;">
        <div style="opacity: 0.8;background-color: black;" id="bleck">
        <div class="ui center aligned fluid grid" >

            <div class="four wide column" id="h_menu">

            </div>
              <div class="eight wide center aligned column" style="margin-top: 40px">


              </div>

        <div class="four wide  column"></div>

        <div class="sixteen wide center aligned fluid column" style="opacity: 1;padding: 5px" id="the_name">

                <div class="ui center aligned container">
                    <div id="head1" style="color: #EFC008">BEHIND THE NAME  : </div>
                    <div class="ui hidden divider"></div>
                    <div class="ui hidden divider"></div>
                    <div class="ui two column stackable grid">
                        <div class="eight wide left aligned column" style="color:white">
                            <p id="head2">When I think of Mama, the first thing that comes to mind is my mother. I wanted the name to be centered around the rich African culture. I thought about the things my mom does that scream “Typical African Mum” then it hit me.</p>
                            <p id="head2">Perhaps my best memory in this respect is of when we attended weddings as a family. We had to sit through the infamously long summons waiting for the moment when everyone would head to the reception. Where the cream of all African weddings is….The Food.</p>

                        </div>
                        <div class="eight wide left aligned column" style="color:white">
                            <p id="head2">Fortunately, we didn't have to queue with the uncultured folk that stood in line on behalf of ten other people that were seated in their tents waiting for their "designated queue person”  to get to the front of the buffet then magically show up. I must admit though, I did admire their organization and coordination. I always wondered if they had meetings before these weddings. </p>
                            <p id="head2">Regardless, we never had to worry about that, because our mum was the plug. She wasn't afraid to get her hands a little dirty to keep us fed and in good time. What an angel. We got our food brought to us where we were seated. That plate was sentimental and the family was happy . So as cheesy as it may sound, that’s how I ended up with the name  <span style="color: #EFC008">Mama’s Plate</span></p>

                        <div class="ui hidden divider"></div>
                        <div class="ui hidden divider"></div>
                        </div>

                    </div>
                    <div class="ui hidden divider"></div>
                    <div class="ui hidden divider"></div>
                </div>


        </div>

        </div>
        </div>
    </div>


    <!--<div class="ui center aligned fluid container" style="margin:auto; padding: 15px 3.5%" >
        <div class="ui center aligned grid" style="background-color: black; padding: 12px 10px">
            <div class="sixteen wide center aligned column" >

                <p style="color: #EFC008;" id="head1">
                    <span style="border-bottom: 2px solid #EFC008;padding-bottom: 12px" >
                        <span>TODAY'S SPECIALS</span>
                    </span>
                </p>

            </div>

            <div class="ui hidden divider"></div>

            <div class="ui hidden divider"></div>

                <div class="ui stackable row">

                    <div class="five wide fluid stackable column">

                            <p style="color: white;" id="head3">
                                SNACKS & PAIRINGS
                            </p>

                            <p style="color: white" id="head4">
                                Buttered Naan
                            </p>
                            <p style="color: white" id="head4">
                                Masala Fries
                            </p>


                    </div>

                    <div class="five wide fluid column">

                            <p style="color: white" id="head3">
                                BURGERS
                            </p>
                            <p style="color: white" id="head4">
                                Cheesy Supreme
                            </p>
                            <p style="color: white" id="head4">
                                Masala Fries
                            </p>

                    </div>

                    <div class="five wide fluid column">

                        <p style="color: white" id="head3">
                            COMBOS
                        </p>



                        <p style="color: white" id="head4">
                            Mama's special
                        </p>


                    </div>

                </div>

            <div class="ui hidden divider"></div>
             <div class="ui hidden divider"></div>

                <div class="ui stackable row" >

                    <div class="five wide fluid column">
                        <p style="color: white" id="head3">
                                WRAPS & PANINIS
                        </p>
                        <p style="color: white" id="head4">
                                Chicken Shawarma
                        </p>
                        <p style="color: white" id="head4">
                                Breakfast Panini
                        </p>
 
                    </div>
                </div>



            
            <div class="ui hidden divider"></div>
            <div class="sixteen wide center aligned column" >
                <p style="color: #efefef" id="desc">
                    We deliver in Nairobi &nbsp
  	            <a href="https://wa.me/254743676796" target="_blank" style="text-decoration:none; color:white"><i class="bicycle icon"></i></a>
		    <a href="https://wa.me/254743676796" target="_blank" style="text-decoration:none"><i class="green whatsapp icon"></i></a>
                </p>
		<div class="ui hidden divider"></div>
		<a style="text-decoration: none;"href="{% url 'the_menu:menu' %}">
			<button class="ui right floated inverted button" style="backgroung-color: #EFC008; padding:18px;"><span id="head3">SEE MENU</span></button>
		</a
            </div>

            </div>

    </div>-->

    </div>
    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>
    <!--<div class="ui center aligned container" style="margin:auto">
        <div class="ui center aligned stackable grid" >
                <div class="four wide column" style="padding:15% 0px">
                    <p style="color: #EFC008;" id="base2">
                    MAMA'S PLATE
                    </p>
                    <p style="color: black" id="head2">
                    Ole-Sangale Link Rd, Nairobi
                    </p>
                </div>
                <div class="four wide column" style="padding:12% 0px">
                    <p style="color: black" id="desc">
                    Phone:
                    </p>
                    <p style="color: black" id="head2">
                    	<a href="tel:+254-743-676-796" style="text-decoration:none;color:black">0743 676796</a>
                    </p>
                    <p style="color: black" id="desc">
                    Email:
                    </p>
                    <p style="color: black" id="head2">
                    	<a href = "mailto: mamasplate1@gmail.com" target="_blank" style="text-decoration:none; color:black">mamasplate1@gmail.com</a>
                    </p>
                </div>
                <div class="eight wide column">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.776663073947!2d36.80927001444972!3d-1.3092812360202326!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f11588d2c0c2d%3A0x7914a0406530bfda!2sMama&#39;s%20Plate!5e0!3m2!1sen!2ske!4v1591220907724!5m2!1sen!2ske" width="500" height="440" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" id="images"></iframe>
                </div>
        </div>
    </div>-->

   
    <div class="ui hidden divider"></div>


    <div class="ui center aligned fluid container" style="margin:0; padding: 0px;" >
        <div class="ui three column stackable center aligned grid" style="margin:5px; padding: 0 30px">

          <div class="column" style="margin:0;">


                <img src="{% static "media/gallery/one.jpeg" %}" style="max-height: 310px;" id="images" >



          </div>

          <div class="column" style="margin:0;">


                <img src="{% static "media/gallery/two.jpeg" %}" style="max-height: 310px" id="images">



          </div>

          <div class="column" style="margin:0;">


                <img src="{% static "media/gallery/three.jpeg" %}" style="max-height: 310px;" id="images">



          </div>

        </div>
    </div>



    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>
    <div class="ui center aligned fluid container" style="margin:auto; padding: 10px 3%" >
        <div class="ui center aligned grid" style="background-color: black; ">
            <div class="sixteen wide center aligned column" style="margin-bottom:-2px" >
                <p style="color: #EFC008;" id="base2">
                    MAMA'S PLATE
                </p>
            </div>
	    
            <div class="sixteen wide center aligned column" style="margin-top:-3px">
                <span id="bottom_socials">
                      <a href="https://wa.me/254743676796" target="_blank"><button class="ui black circular whatsapp icon button" style="margin: 0 10px">
                          <i class="green whatsapp icon"></i>
                      </button></a>
                      <a href="https://www.instagram.com/mamas.plate/" target="_blank"><button class="ui black circular instagram icon button" style="margin: 0 10px">
                          <i class="pink instagram icon"></i>
                      </button></a>
                      <a href = "mailto: mamasplate1@gmail.com" target="_blank"><button class="ui black circular mail icon button" style="margin: 0 10px">
                          <i class="white mail icon"></i>
                      </button></a>
                  </span>
            </div>
            <div class="sixteen wide center aligned column" >
                <p style="color: efefef" id="desc">
                   Where Art meets Passion
                </p>
            </div>

        </div>
    </div>
    <div class="ui hidden divider"></div>
    <style type="text/css">
        #images{
	       max-width: 100%;
               height: 100%;
               object-fit: contain;
	    }
        body {

              background-repeat: repeat;
              background-size: cover;
              background-position: center;


            }
        .ui.icon.vertical.menu{
                display: none;
            }

        #mail_p{
            padding:0 350px;
        }
        #the_name{
            padding:0 200px;
        }
        #h_menu {
            display: none;
        }
        #v_menu {
            display: initial;
        }

        #title{
           font-family: 'Cabin Sketch', cursive;
           font-size:45px;
           letter-spacing: 3px;
           font-weight:bold;
        }
        #head1{
            font-family: 'Cabin Sketch', cursive;
            font-size:26px;
            letter-spacing: 2.5px;

        }
        #head2{
            font-family: 'Josefin Sans', sans-serif;
            font-size: 16px;
            font-weight: 500;
        }
        #headmenu{
            font-family: 'Josefin Sans', sans-serif;
            font-size: 16px;
            font-weight: 500;
        }
        #head3 {
            font-family: 'Josefin Sans', sans-serif;
            font-size: 20px;
            font-weight: 500;
        }

        #base2{
            font-family: 'Josefin Sans', sans-serif;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 3px;
        }

        #desc{
            font-family: 'Josefin Sans', sans-serif;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 1px;
        }
        #mailing{
            font-family: 'Josefin Sans', sans-serif;
            font-size: 19px;
            font-weight: 500;
            letter-spacing: 1px;
        }
        #head4{
            font-family: 'Cabin Sketch', cursive;
            font-size: 20px;

        }
        #menu_item {
            font-size: 14px;
            letter-spacing: 2px;
            }

        #menu {
            margin-left: initial;
            }
        @media only screen and (max-width: 1200px) {

            #mail_p{
                padding:0;
            }

            #the_name{
                padding: 10px;
            }
            #headmenu{
                display: none;
            }

            #h_menu{
                display: none;
            }
            #v_menu{
                display: initial;
            }
            .ui.icon.vertical.menu{
              display: block;
             position: fixed;  /* Set the navbar to fixed position */
              top: 20.5%; /* Position the navbar at the top of the page */
              z-index: 1;
            }

            #menu{
                margin-left: 0;
            }
            #length{
                width:initial;
            }
            #price{
                margin: auto;
            }
            #dish{
                margin: auto;
                padding: 0;
            }
            #description{
                margin: auto;
                padding: 0;
            }
	        #images{
               max-width: 100%;
               height: 100%;
               object-fit: contain;
	    }

        }

    </style>
{% block scripts %}
    <script type="text/javascript">
        $('#dmt').on('click', function () {
            $('.ui.sidebar').sidebar('toggle');
    });
    </script>
    <script type="application/ld+json">{
    "@context": "https://schema.org",
    "@type": "Organization",
    "name": "Mama's Plate",
    "hasMap": "https://goo.gl/maps/ET2A2pnwtSmHYhRn6"
    }
    </script>
    <script type="text/javascript">
        $('#subForm').submit(function() {
            $("#subForm").hide();
            $('#gold').attr('style','color:gold');
            $("#mailing").text('Thank you for Subscribing!!!!');
        }
        )
    </script>
{% endblock scripts %}
{%  endblock content %}