{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    {% if user.is_authenticated %}
    <div class="ui hidden divider"></div>
    <div class="right aligned container">

        <button class="ui right floated secondary button" style="text-decoration:none">
         <a href="{% url 'the_blog:logout' %}" style="text-decoration:none; color:white">Logout</a>
        </button>

    </div>
    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>
    {% endif %}

    <div class="center aligned fluid ui container">
    <div class="ui labeled icon left floated inverted vertical menu" style="margin-right: 40px ; margin-left: -25px; border: thin solid #EFC008; background: black " >

        <div class="item" id="dmt">
            <i class="large bars icon"></i>
        </div>

    </div>
    <div class="center aligned sixteen wide column" id="v_menu">
                <div class="ui hidden divider"></div>
                <span>
                    <a class="active item" style="color: black; text-decoration: none; margin: 0 30px" href="{% url 'the_blog:index' %}" id="headmenu">
                      HOME
                    </a>
                </span>
		<span>
                    <a class="item" style="color: black; text-decoration: none; margin: 0 35px" href="{% url 'the_blog:blog' %}" id="headmenu">
                      BLOG
                    </a>
                </span>
                
                <a href="{% url 'the_blog:index' %}" style="text-decoration: none">
                    <img src="{% static "/media/landing/circle-cropped.png" %}"
                                 alt="My image" style="max-height: 150px; max-width: 150px ; margin: 0px 40px 10px ; border:0">
                </a>
                <span>
                    <a class="item" style="color: black; text-decoration: none; margin: 0 35px" href="{% url 'the_menu:menu' %}" id="headmenu">
                      MENU
                    </a>
                </span>
                <span id="headmenu">
                    <a class="item" style="color: black; text-decoration: none; margin: 0 35px" href="{% url 'the_blog:about' %}" id="headmenu">
                      ABOUT
                    </a>
                </span>
    </div>
    </div>
    <div class="ui sidebar vertical menu" style="text-decoration: none">
            <div class="ui hidden divider"></div>
            <div class="ui hidden divider"></div>
            <div class="ui hidden divider"></div>
            <div class="ui hidden divider"></div>
            <a style="color:black;text-decoration:none; padding:20px; margin:0px 110px 0px 60px" href="{% url 'the_blog:index' %}">
               HOME
            </a>
            <div class="ui hidden divider"></div>
            <div class="ui hidden divider"></div>


   	    <a style="color:black;text-decoration:none; padding:20px; margin:0 110px 0 60px" href="{% url 'the_blog:blog' %}">
               BLOG
            </a>
            
            <div class="ui hidden divider"></div>
            <div class="ui hidden divider"></div>


            <a style="color:black;text-decoration:none; padding:20px; margin:0 110px 0 60px" href="{% url 'the_menu:menu' %}" >
               MENU
            </a>
            <div class="ui hidden divider"></div>
            <div class="ui hidden divider"></div>


            <a style="color: #EFC008; margin:0px 110px 0px 60px; border: 1px solid #EFC008;padding:20px" href="{% url 'the_blog:about' %}">
               ABOUT
            </a>
            <div class="ui hidden divider"></div>
            <div class="ui hidden divider"></div>
            <div class="ui hidden divider"></div>


            <div class="ui hidden divider"></div>

    </div>

    <div class="ui hidden divider"></div>

    <div class="ui container">
        <div class="ui hidden divider"></div>
        <div class="ui hidden divider"></div>
        <div class="ui hidden divider"></div>
        <div class="ui container">


            <div class="ui center aligned container">
                <h1 id="base2" style="font-size: 2em; font-weight: bold; color: #EFC008; opacity: 0.6">{{ entry.title|upper}}</h1>

            </div>
            <div class="ui hidden divider"></div>

            <div id="desc" style="color: silver" class="ui center aligned container">{{ entry.date_added }}</div>
            <div class="ui center aligned  container" style="margin-top:40px">
	    <img src={{entry.header_image.url}} id="images" alt="My image">

            </div>
            <div class="ui hidden divider"></div>

            <div class="ui hidden divider"></div>
            <div class="ui hidden divider"></div>
            <div class="ui hidden divider"></div>
            <div class="ui hidden divider"></div>


            <h4 id="head2">{{ entry.content|safe }}</h4>

	        {% if entry.ingredients %}
            <div class="four wide column" style="margin-top: 40px">

                <div class="ui left aligned silver segment" style="background-color:#F9F9F9; padding: 40px">
                  <a style="color: black;text-decoration:none" href="{% url 'the_blog:pdf' entry.id %}">
                      <div class="ui right aligned fluid container">
                      <i class="large red file pdf icon"></i>
                      Download this recipe
                      </div>
                  </a>
                  <div class="ui hidden divider"></div>
                  <div class="ui hidden divider"></div>
                  <div class="ui hidden divider"></div>


                  <p id='base2'><b>{{ entry.title|upper }}</b></p>
                  <p id='desc' style="color:silver">Author: Mama</p>
                  <p id='desc' style="color:silver">Yield: {{ entry.serving|safe}}</p>
                  <div class="ui hidden divider"></div>
                  <div class="ui hidden divider"></div>
                  <p id='base2'><b>INGREDIENTS</b></p>
                  <p  style="color:silver"></p>
                  <span id='desc' style="color:silver"> {{ entry.ingredients|safe}}</span>
                  <div class="ui hidden divider"></div>
                  <div class="ui hidden divider"></div>
                  <p id='base2'><b>INSTRUCTIONS</b></p>
                  <span id='desc' style="color:black">{{ entry.instructions|safe}}</span>
                  <div class="ui hidden divider"></div>
                  <div class="ui hidden divider"></div>
                </div>

            </div>
            {% endif %}

        </div>
        <div class="ui hidden divider"></div>
    </div>
    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>
    {% if user.is_authenticated %}
                <div class="ui two column doubling stackable grid container">
                    <div class="column"></div>
                    <div class="right aligned column" style="margin-bottom: 30px">
                        <a  href="{% url 'the_blog:edit' entry.pk %}" style="color: inherit; margin-right: 40px;"><i class="edit outline large link green icon" ></i>Edit post</a>
                        <button class="ui black button" id="delete" style="color: white">
                            <i class="trash alternate outline large link red icon" ></i>Delete Post
                        </button>
                    </div>
                </div>
    {% endif %}

    <div class="ui fluid container">


            <div class="ui hidden divider"></div>
	   
            <div class="ui four column doubling stackable grid container" id="next" style="margin-bottom:100px">
              <div class="column">
		
                <h2 id="base2" style="color: #EFC008">PREVIOUS POST</h2>
		<img src="{% static "/media/menu/hamburger.jpeg" %}" id="images" alt="My image" style="height: 300px;
                 	width: 300px;object-fit: scale-down;">
                <p><a style="color: black;text-decoration:none" href="{% url 'the_blog:post' previous.id %}" id="base2">{{ previous.title|upper }}</a></p>
                
              </div>
              <div class="column">
                <p></p>
                <p></p>
              </div>
              <div class="column">
                <p></p>
                <p></p>
              </div>
              <div class="column">
		
                <h2 id="base2" style="color: #EFC008">NEXT POST</h2>
		<img src="{% static "/media/menu/hamburger.jpeg" %}" id="images" alt="My image" style="height: 300px;
                 	width: 300px;object-fit: scale-down;">
                <p><a style="color: black;text-decoration:none" href="{% url 'the_blog:post' next.id %}" id="base2">{{ next.title|upper }}</a></p>
               
              </div>
            </div>
	  





    <div class="ui comments" id="commentSection" style="margin: 50px">
	<h2 style="color: #EFC008" id="base2">
		{% with total=entry.comments.count %}
		{% if total > 0 %}
        	{{ total }} COMMENT{{ total|pluralize }}
		{% endif %}
        	{% endwith %}
	</h2>
              {% for comment in comments %}
                <div class="comment" style="padding: 10px;margin-bottom:40px;">
                    <a class="avatar">
                      <i class="black user icon"></i>
                    </a>
                    <div class="content">
                        <a class="author">
                        {{ comment.name }}
                        </a>
                        <div class="metadata">
                          <div class="date">{{ comment.created_on }}</div>
                        </div>
                      <div class="text" id="desc">{{ comment.comment | linebreaks }}</div>
                    </div>
                </div>
              {% endfor %}
              <div class="ui hidden divider"></div>
	      <div class="ui hidden divider"></div>
              

                  <h2 style="color: #EFC008" id="base2">LEAVE A COMMENT</h2>
                  <div class="ui hidden divider"></div>
                  <form method="post" action="{% url 'the_blog:comment' entry.id %}" class="ui form">
                      {{ comment_form|crispy }}
                      {% csrf_token %}
                      <button class="ui button" type="submit" style="margin-top: 10px">Submit</button>
                  </form>

              <div class="ui hidden divider"></div>
              <div class="ui hidden divider"></div>
    </div>
    </div>

    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>
    <div class="ui center aligned fluid container" style="margin:auto; padding: 2px 3%" >
        <div class="ui center aligned grid" style="background-color: black;">
            <div class="sixteen wide center aligned column" style="margin-top: 4px; margin-bottom: 1px">
                <p style="color: #EFC008;" id="base2" >
                    MAMA'S PLATE
                </p>
            </div>

            <div class="sixteen wide center aligned column" style="margin-top:-3px">
                <span id="bottom_socials">
                      <a href="https://wa.me/254743676796" target="_blank"><button class="ui black circular whatsapp icon button" style="margin: 0 10px">
                          <i class="green whatsapp icon"></i>
                      </button></a>
                      <a href="https://www.instagram.com/mamas.plate/" target="_blank"><button class="ui black circular instagram icon button" style="margin: 0 10px">
                          <i class="pink instagram icon"></i>
                      </button></a>
                      <a href = "mailto: mamasplate1@gmail.com" target="_blank"><button class="ui black circular mail icon button" style="margin: 0 10px">
                          <i class="white mail icon"></i>
                      </button></a>
                  </span>
            </div>

            <div class="sixteen wide center aligned column" >
                <p style="color: white" style="border-bottom:6px solid white" id="desc">
                    Ole-Sangale Link Rd, Nairobi | <a href="tel:+254-743-676-796" style="text-decoration:none; color:white">Tel: 0743 676796</a>
                </p>
            </div>

        </div>
    </div>

    <div class="ui center aligned container" style="padding-top: 100px">
    <div class="ui center aligned basic modal" id="data-modal">
      <div class="ui icon header" style="margin-top: 100px; >
        <i class="archive icon"></i>
        Delete Post
      </div>
      <div class="content">
        <p>Deleted posts cannot be recovered, Are you sure you would like to delete the post??       Just making sure</p>
      </div>
      <form action="{% url 'the_blog:delete' entry.id %}" method="post" >
          {% csrf_token %}
          <div class="actions">
            <div class="ui red basic cancel inverted button">
              <i class="remove icon"></i>
              No
            </div>

            <button class="ui green ok inverted button" type="submit">
              <i class="checkmark icon"></i>
              Yes
            </button>
          </div>
      </form>
    </div>
    </div>















    <style type="text/css">
        body {

              background-repeat: repeat;
              background-size: cover;
              background-position: center;


            }
        .ui.icon.vertical.menu{
                display: none;
            }

        #title{
           font-family: 'Cabin Sketch', cursive;
           font-size:45px;
           letter-spacing: 3px;
           font-weight:bold;
        }
        #head1{
            font-family: 'Cabin Sketch', cursive;
            font-size:35px;

        }
        #head2{
            font-family: 'Josefin Sans', sans-serif;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 2px;
        }
        #base2{
            font-family: 'Josefin Sans', sans-serif;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 3px;
        }

        #desc{
            font-family: 'Josefin Sans', sans-serif;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 1px;
        }
        #headmenu {
            font-family: 'Josefin Sans', sans-serif;
            font-size: 16px;
            font-weight: 500;
        }
        #price{
            font-family: 'Josefin Sans', sans-serif;
            font-size: 18px;
            font-weight: 500;
        }
        #menu_item {
            font-size: 14px;
            letter-spacing: 2px;
            }

        #menu {
            margin-left: initial;
            }
        @media only screen and (max-width: 1200px) {
            #images{
               width: 355px !important;

            }
            #headmenu{
                display: none;
            }
            .ui.icon.vertical.menu{
              display: block;
              position: fixed; /* Set the navbar to fixed position */
              top: 20.5%; /* Position the navbar at the top of the page */
              z-index: 1;
            }
            #menu{
                margin-left: 0;
            }
            #length{
                width:initial;
            }
            #price{
                margin: auto;
            }
            #dish{
                margin: auto;
                padding: 0;
            }
            #description{
                margin: auto;
                padding: 0;
            }


        }
        /*@media only screen and (max-width: 767px) {
            #sandwich{
                display: inline !important;
                margin-right: -60px;
            }
            .stackable.compact.menu{
                display: none !important;
            }
        }*/
    </style>
{% block scripts %}
    <script>
        $('#delete').on('click', function () {
            $('#data-modal').modal('show');
        });

    </script>

    <script type="text/javascript">
        $('#dmt').on('click', function () {
            $('.ui.sidebar').sidebar('toggle');
    });
    </script>
{% endblock scripts %}
{%  endblock content %}