
{% extends "base.html" %}

{% load static %}
 
    



{% block content %}






                   <img src="{% static "/media/landing/circle-cropped.png" %}"
                                 alt="My image" style="max-height: 150px; max-width: 150px ; margin: 0px 40px 10px ; border:0">

                  <div class="ui hidden divider"></div>
                  <div class="ui hidden divider"></div>

                  <p><b>{{ title|upper }}</b></p>

                  <p>Author: Mama</p>

                  <p >Yield: {{ serving|safe}}</p>

                  <div class="ui hidden divider"></div>

                  <div class="ui hidden divider"></div></span>

                  <p><b>INGREDIENTS</b></p>

                  <span> {{ ingredients|safe}}

                  <div class="ui hidden divider"></div>

                  <div class="ui hidden divider"></div>

                  <p><b>INSTRUCTIONS</b></p>

                  <p> {{ instructions|safe}} </p>

                  <div class="ui hidden divider"></div>

                  <div class="ui hidden divider"></div>
               



    
       

    <style>
	
        	@font-face {
                 font-family: 'JosefinSans';
  		 src: url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
		}

		body {
  		 font-family: 'JosefinSans';
  		 font-size: 12px;
		}

	
    </style>

{%  endblock content %}