
{% extends "base.html" %}


 
    



{% block content %}






                

                  <div class="ui hidden divider"></div>
                  <div class="ui hidden divider"></div>

                  <p><b>{{ title|upper }}</b></p>

                  <p>Author: Mama</p>

                  <p >Yield: {{ serving|safe}}</p>

                  <div class="ui hidden divider"></div>

                  <div class="ui hidden divider"></div></span>

                  <p><b>INGREDIENTS</b></p>

                  <span> {{ ingredients|safe}}

                  <div class="ui hidden divider"></div>

                  <div class="ui hidden divider"></div>

                  <p><b>INSTRUCTIONS</b></p>

                  <p> {{ instructions|safe}} </p>

                  <div class="ui hidden divider"></div>

                  <div class="ui hidden divider"></div>
               



    
       

    <style>
	
        	@font-face {
   		font-family: Courier New;
   	
    		}
	
    </style>
{%  endblock content %}