{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="center aligned fluid ui container">
    <div class="ui labeled icon left floated inverted vertical menu" style="margin-right: 40px ; margin-left: -25px; border: thin solid #EFC008; background: black " >

        <div class="item" id="dmt">
            <i class="large bars icon"></i>
        </div>

    </div>
    <div class="center aligned sixteen wide column" id="v_menu">
                <div class="ui hidden divider"></div>
                <span>
                    <a class="active item" style="color: black; text-decoration: none; margin: 0 30px" href="{% url 'the_blog:index' %}" id="headmenu">
                      HOME
                    </a>
                </span>
	            <span style="" id="headmenu">
                    <a class="item" style="color: black; text-decoration: none; margin: 0 35px" href="{% url 'the_blog:blog' %}" id="headmenu">
                      BLOG
                    </a>
                </span>
                
                <a href="{% url 'the_blog:index' %}" style="text-decoration: none">
                    <img src="{% static "/media/landing/circle-cropped.png" %}"
                                 alt="My image" style="max-height: 150px; max-width: 150px ; margin: 0px 40px 10px ; border:0">
                </a>
                <span style="border: 1px solid #EFEFEF;padding: 20px 5px">
                    <a class="item" style="color: #EFC008; text-decoration: none; margin: 0 35px" href="{% url 'the_menu:menu' %}" id="headmenu">
                      GALLERY
                    </a>
                </span>
                <span>
                    <a class="item" style="color: black; text-decoration: none; margin: 0 35px" href="{% url 'the_blog:about' %}" id="headmenu">
                      ABOUT
                    </a>
                </span>
    </div>
    </div>
    <div class="ui sidebar vertical menu" style="text-decoration: none">
            <div class="ui hidden divider"></div>
            <div class="ui hidden divider"></div>
            <div class="ui hidden divider"></div>
            <div class="ui hidden divider"></div>
            <a style="color:black;text-decoration:none; padding:20px; margin:0px 110px 0px 60px" href="{% url 'the_blog:index' %}">
               HOME
            </a>
            <div class="ui hidden divider"></div>
            <div class="ui hidden divider"></div>


	    <a style="color: black; margin:0px 110px 0px 60px;padding:20px" href="{% url 'the_blog:blog' %}">
               BLOG
            </a>
            
            <div class="ui hidden divider"></div>
            <div class="ui hidden divider"></div>


            <a style="color: #EFC008;text-decoration:none; padding:20px; margin:0 110px 0 60px" href="{% url 'the_menu:menu' %}" >
               GALLERY
            </a>
            <div class="ui hidden divider"></div>
            <div class="ui hidden divider"></div>
            

            <a style="color:black;text-decoration:none; padding:20px; margin:0 110px 0 60px" href="{% url 'the_blog:about' %}">
               ABOUT
            </a>
            <div class="ui hidden divider"></div>
            <div class="ui hidden divider"></div>
           
    </div>
    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>
   
    <div class="ui fluid center aligned container" style="margin:auto">





                <div style="margin:auto">
                       <span id="head2" style="color:silver; font-weight: bold; letter-spacing: 2px"></span>
                </div>


                <div  style="margin:auto">
                   <!--<span ><i class="spinner loading icon"></i></span>-->
                </div>


                <div class="ui center aligned fluid container" style="margin:0; padding: 0px;" >
                    <div class="ui four column stackable center aligned grid" style="margin:5px; padding: 0 30px">
                      {% for post in posts %}
                      <div class="column" style="margin:0;">


                            <a href="{% url 'the_blog:post' post.slug %}" style="text-decoration:none; color:black">
                                <img src={{ MEDIA_URL }}{{post.header_image.url}} id="images" alt="My image" style="height: 300px;
                 	width: 380px;padding-left: -50px;">
                            </a>

                            <div class="ui hidden divider"></div>
                            <!--<a href="{% url 'the_blog:post' post.slug %}" style="text-decoration:none; color:black">
                                <span style="color: #EFEFEF">{{post.title|title}}</span>
                            </a>-->

                      </div>
                      {% endfor %}


                    </div>
                </div>




    </div>
    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>

  
    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>
   
    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>
     <div class="ui center aligned fluid container" style="margin:auto; padding: 2px 3%" >
        <div class="ui center aligned grid" style="background-color: black;">
            <div class="sixteen wide center aligned column" style="margin-top: 4px; margin-bottom: 1px">
                <p style="color: #EFC008;" id="base2" >
                    MAMA'S PLATE
                </p>
            </div>
            <div class="sixteen wide center aligned column" style="margin-top:-3px">
                <span id="bottom_socials">
                      <a href="https://wa.me/254743676796" target="_blank"><button class="ui black circular whatsapp icon button" style="margin: 0 10px">
                          <i class="green whatsapp icon"></i>
                      </button></a>
                      <a href="https://www.instagram.com/mamas.plate/" target="_blank"><button class="ui black circular instagram icon button" style="margin: 0 10px">
                          <i class="pink instagram icon"></i>
                      </button></a>
                      <a href = "mailto: mamasplate1@gmail.com" target="_blank"><button class="ui black circular mail icon button" style="margin: 0 10px">
                          <i class="white mail icon"></i>
                      </button></a>
                  </span>
            </div>
            <div class="sixteen wide center aligned column" >
                <p style="color: efefef" id="desc">
                   Where Art meets Passion
                </p>
            </div>

        </div>
    </div>
    <div class="ui hidden divider"></div>



















    <style type="text/css">
        #images{
	       max-width: 100%;
               height: 100%;
               object-fit: contain;
	    }
        body {

              background-repeat: repeat;
              background-size: cover;
              background-position: center;


            }
        .ui.icon.vertical.menu{
                display: none;
            }

        #mail_p{
            padding:0 350px;
        }
        #the_name{
            padding:0 200px;
        }
        #h_menu {
            display: none;
        }
        #v_menu {
            display: initial;
        }

        #title{
           font-family: 'Cabin Sketch', cursive;
           font-size:45px;
           letter-spacing: 3px;
           font-weight:bold;
        }
        #head1{
            font-family: 'Cabin Sketch', cursive;
            font-size:26px;
            letter-spacing: 2.5px;

        }
        #head2{
            font-family: 'Josefin Sans', sans-serif;
            font-size: 16px;
            font-weight: 500;
        }
        #headmenu{
            font-family: 'Josefin Sans', sans-serif;
            font-size: 16px;
            font-weight: 500;
        }
        #head3 {
            font-family: 'Josefin Sans', sans-serif;
            font-size: 20px;
            font-weight: 500;
        }

        #base2{
            font-family: 'Josefin Sans', sans-serif;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 3px;
        }

        #desc{
            font-family: 'Josefin Sans', sans-serif;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 1px;
        }
        #mailing{
            font-family: 'Josefin Sans', sans-serif;
            font-size: 19px;
            font-weight: 500;
            letter-spacing: 1px;
        }
        #head4{
            font-family: 'Cabin Sketch', cursive;
            font-size: 20px;

        }
        #menu_item {
            font-size: 14px;
            letter-spacing: 2px;
            }

        #menu {
            margin-left: initial;
            }
        @media only screen and (max-width: 1200px) {

            #mail_p{
                padding:0;
            }

            #the_name{
                padding: 10px;
            }
            #headmenu{
                display: none;
            }

            #h_menu{
                display: none;
            }
            #v_menu{
                display: initial;
            }
            .ui.icon.vertical.menu{
              display: block;
             position: fixed;  /* Set the navbar to fixed position */
              top: 20.5%; /* Position the navbar at the top of the page */
              z-index: 1;
            }

            #menu{
                margin-left: 0;
            }
            #length{
                width:initial;
            }
            #price{
                margin: auto;
            }
            #dish{
                margin: auto;
                padding: 0;
            }
            #description{
                margin: auto;
                padding: 0;
            }
	        #images{
               max-width: 100%;
               height: 100%;
               object-fit: contain;
	    }

        }

    </style>
{% block scripts %}
    <script type="text/javascript">
        $('#dmt').on('click', function () {
            $('.ui.sidebar').sidebar('toggle');
    });
    </script>
{% endblock scripts %}
{%  endblock content %}